<h2>Sign Up - The More; The Merrier</h2>

<%= form_for @user do |f| %>

<% #errors section for future %>

	<div class="field">
		<%= f.label :name %><br/>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :telephone %><br/>
		<%= f.text_field :telephone %>
	</div>
	<div class="field">
		<%= f.label :email %><br/>
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :password %><br/>
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation %><br/>
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="actions">
		<%= f.submit " Send " %>
	</div>
<% end %>